<div class="row">
    <div class="display-7 text-dark mt-3">
      <div class="text-center mt-5 mb-5"><h2>Cadastro de Aluno</h2></div>
      <div class="container max-w-500 bg-light rounded shadow-lg ">
      <form [formGroup]="formGroupAluno">
        <div class="mb-3">
          <label for="nome_est" class="form-label text-dark mt-3">Nome</label>
          <input type="text" formControlName="nome_est" class="form-control" id="nome_est"
            placeholder="Coloque o seu nome">
          <div *ngIf="submitted && nome_est.invalid">
            <small class="text-danger">Nome Inválido! (Mínimo 3 Caracteres)</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-dark">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Coloque o seu Email">
          <div *ngIf="submitted && email.invalid">
            <small class="text-danger">Email Inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="endereco" class="form-label text-dark">Endereço</label>
          <input type="text" formControlName="endereco" class="form-control" id="endereco"
            placeholder="Digite seu endereço">
          <div *ngIf="submitted && endereco.invalid">
            <small class="text-danger">Endereço Inválido!</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="cpf" class="form-label text-dark">CPF</label>
          <input type="text" formControlName="cpf" class="form-control" id="cpf" placeholder="Digite seu CPF">
          <div *ngIf="submitted && cpf.invalid">
            <small class="text-danger">CPF Inválido!</small>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-success m-3" (click)="save()">Salvar</button>
          <button class="btn btn-outline-warning" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  </div>